.container{
    height: 100%;
    margin-top: 10px;
    margin:15px; 
    
  }
  @media screen and (max-width: 599px) {
    .container{ 
        height: 100%;
        margin: 2px;
    }
 
  }

 


.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .is-success{
    border:1px solid green;
    background-color: green;
}
.is-warning{
    border:1px solid black;
    background-color: black;
} 
.is-danger{
    border:1px solid red;
    background-color: red;
}

fieldset{
  margin-top: 15px;
  border: 1px solid rgb(205, 207, 207);
  border-radius: 3px;
}
legend{
  color: rgba(163, 163, 163, 0.911);
}

