<mat-nav-list>
    <ng-container *ngIf="userAuth?.uid && !mobileQuery && !currentUrl ">
        <mat-list-item fxLayoutAlign="flex-end" (click)="onClose(isExpanded = !isExpanded)">
            <i class="fas fa-arrow-right menu-button" [ngClass]="{'rotated' : !isExpanded}"></i>
        </mat-list-item>
        <mat-divider></mat-divider>

    </ng-container>


    <div *ngIf="lastSeans$ | async as lastSeans">
        <a (click)="lastSeansClick()" mat-list-item class="warningMain" *ngIf="lastSeans?.state==='continuing'"
            [routerLink]="['/chat',lastSeans.roomId,lastSeans.seansId]">
            <i class="fas fa-phone-volume" id="blinkButton"  [ngClass]="{'blinkButton' : userAuth?.type==='therapist'}" style="color: green;margin-right: 10px;" matBadge="1" matBadgeColor="warn"></i>
            <span *ngIf="isExpanded || mobileQuery" class="nav-caption">Yeni Seans</span>
             
        </a>
    </div>
    <audio id="audioCalling" src="/assets/TelephoneRing.mp3" muted ></audio>
    
    
 
    <a mat-list-item *ngIf="userAuth?.type==='therapist'" routerLink="/userOfTherapist">
        <i class="fas fa-user-circle"></i>
        <span *ngIf="isExpanded || mobileQuery" class="nav-caption">Danışanlar</span>
    </a>
    <a mat-list-item *ngIf="userAuth?.type==='therapist'" routerLink="/questiontotherapist">
        <i *ngIf="countQuestion>0" [matBadge]="countQuestion" matBadgeColor="warn" class="fas fa-envelope"></i>
        <i *ngIf="countQuestion===0" class="fas fa-envelope"></i>
        <span *ngIf="isExpanded || mobileQuery" class="nav-caption">&nbsp;&nbsp;Gelen Sorular</span>
    </a>
    <!--matching-->
    <mat-list-item routerLink="/matching" *ngIf="userAuth?.uid">
        <i class="fas fa-search"></i>
        <span *ngIf="isExpanded || mobileQuery" class="nav-caption">Therapist Bul</span>
    </mat-list-item> 
    <!--matching-->
    <a mat-list-item *ngIf="userAuth?.type==='user'" routerLink="/questiontotherapist">
        <i style="margin-right: 10px;" *ngIf="countQuestion>0" [matBadge]="countQuestion" matBadgeColor="warn" class="fas fa-envelope"></i>
        <i *ngIf="countQuestion===0" class="fas fa-envelope"></i>
        <span *ngIf="isExpanded || mobileQuery" class="nav-caption">Sorularınız</span>
    </a>

    <!--therapist-->
    <mat-list-item *ngIf="userAuth?.type==='user'" (click)="showSubmenu = !showSubmenu">
        <i class="fas fa-user-tie"></i>
        <span *ngIf="isExpanded || mobileQuery" class="nav-caption">Therapists</span>
        <i class="fas fa-arrow-up menu-button"  [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || mobileQuery"></i>
    </mat-list-item>
    <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isExpanded">
        <a style="margin-bottom: 5px;margin-top: 5px;" *ngFor="let therapistOfUser of rooms$ | async" mat-list-item
            [routerLink]="['/therapistOfUser',therapistOfUser?.uid,therapistOfUser?.roomId]">
            <img class="therapistImg" *ngIf="therapistOfUser?.photoURL" [src]="therapistOfUser?.photoURL" alt="">
            <span>{{therapistOfUser?.displayName}}</span>
        </a>
    </div>
    <!--therapist-->
    <mat-list-item routerLink="/appointmentTable" *ngIf="userAuth?.uid">
        <i class="far fa-clock" style="margin-right: 10px;" *ngIf="countAppointment>0" [matBadge]="countAppointment" matBadgeColor="warn"></i>
        <i class="far fa-clock" *ngIf="countAppointment===0"></i>
        <span *ngIf="isExpanded || mobileQuery" class="nav-caption">Randevu</span>
    </mat-list-item>

    <a mat-list-item [routerLink]="['']" fragment="how-work" (click)="onClose()">
        <i class="fas fa-cog"></i>
        <span *ngIf="isExpanded || mobileQuery" class="nav-caption">Nasıl Çalışır</span>
    </a>
   
    <a mat-list-item [routerLink]="['']" fragment="about-us" (click)="onClose()">
        <i class="fas fa-home"></i>
        <span *ngIf="isExpanded || mobileQuery" class="nav-caption">Hakkımızda</span>
    </a>
    <a class="hemenBasla" mat-list-item *ngIf="!userAuth?.uid" (click)="startCounceling()">
        <span class="nav-caption">Hemen Başla</span>
    </a>
    <mat-divider *ngIf="userAuth?.uid && !mobileQuery && !currentUrl"></mat-divider>

    <a mat-list-item routerLink="/profile-edit" *ngIf="userAuth?.type">
        <i class="far fa-user-circle"></i>
        <ng-container *ngIf="isExpanded || mobileQuery">
            <span *ngIf="userAuth?.displayName;else userEmail" class="nav-caption">{{userAuth.displayName }}</span>
            <ng-template #userEmail>
                <span class="nav-caption">{{userAuth.email | email}}</span>
            </ng-template>
        </ng-container>
    </a>
    <a mat-list-item *ngIf="userAuth?.uid" (click)="onLogout()">
        <i class="fas fa-sign-out-alt"></i>
        <span *ngIf="isExpanded" class="nav-caption">Oturum Kapat</span>
    </a>
    <a mat-list-item routerLink="adminPanelToUser" *ngIf="userAuth?.role==='userOfManager'">
        <i class="fas fa-user-cog"></i>
        <span *ngIf="isExpanded" class="nav-caption">Yönetim</span>
    </a>


</mat-nav-list>