<div class="container" >
    <div class="footerMain" flexLayout="column">
        <div fxFlex>
            <div fxLayout.gt-xs="row" fxLayout.lt-sm="column">
                <div fxFlex>
                    <img  src="https://via.placeholder.com/200x80" alt="">
                    <p class="textSection">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti assumenda, atque nisi nam perspiciatis vitae at quisquam libero reiciendis tempore. Provident maxime nostrum, odit iure at quae dolorum earum ducimus.
                    </p>
                </div>
                <div class="ourServices" fxFlex="0 1 auto" >
                    <p class="headerSection">Hizmetlerimiz</p>
                    <span class="lineSection"></span>
                    <ul class="textSection list">
                       <li>- Unlimited Messaging Therapy</li>
                       <li>Couples Therapy</li>
                       <li> Unlimited Messaging Therapy</li>
                       <li>Couples Therapy</li>
                       <li> Unlimited Messaging Therapy</li>
                       <li>Couples Therapy</li>
                    </ul>
                </div>
                <div fxFlex>
                    <p class="headerSection">Bize Ulaşın</p>
                    <span class="lineSection"></span>
                    <p class="textSection">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, sequi. Asperiores fugit amet provident ex minus eum quos sunt hic consequuntur? Iste necessitatibus nam debitis est odit minus aut tempora?</p>

                </div>
            </div>
        </div>
    </div>
</div>

