<h1 mat-dialog-title>Payanda ...</h1>

<mat-dialog-content>

    <mat-tab-group>
        <mat-tab>
            <ng-template mat-tab-label>
                
                <i style="margin-right: 5px;" class="fas fa-user fa-2x"></i>
                Giriş Yap
            </ng-template>

            <section style="margin-top: 3px;" class="signup-form">

                <form *ngIf="forgotPassword===false" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px"
                    [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">

                    <button (click)="loginGoogle()" class="socialButton" type="button" mat-raised-button>
                        <img class="socialButton" src="/assets/social/google.png" alt="">
                        <span style="padding-left: 1px;">Google ile Giriş Yap </span> </button>

                    <button (click)="loginFacebook()" style="background-color:#3C5A99;color:white;" class="socialButton" type="button"
                        mat-raised-button>
                        <img src="/assets/social/facebook.png" alt="">
                        <span>Facebook ile Giriş Yap</span> </button>

                    <mat-form-field>
                        <input type="email" matInput placeholder="email" formControlName="email">
                        <mat-error *ngIf="loginForm.get('email').hasError('email')">Lütfen doğru bir email adresi
                            yazınız</mat-error>
                        <mat-error *ngIf="loginForm.get('email').hasError('required')">Email boş brıaklımaz!
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field style="margin-bottom:0px" hintLabel="En az 6 karakterli olmalıdır">
                        <input type="password" matInput placeholder="Şifreniz" formControlName="password">
                        <mat-error>Şifre En az 6 karakterli olmalıdır. </mat-error>

                    </mat-form-field>
                    <div id="errMessage" class="errMessage"></div>
                    <button type="submit" mat-raised-button color="primary"
                        [disabled]="loginForm.invalid">Giriş</button>
                    <div class="forgotPassword"><a (click)="forgotPassword=!forgotPassword">Şifremi Unuttum</a></div>
                </form>

                <div *ngIf="forgotPassword===true">
                    <form>
                        <h5>Şifrenizi mi unuttunuz?</h5>
                        <p style="font-size:12px;">Kayıtlı mail adresinizi yazınız ve gönder tuşuna basınız.</p>
                        <p style="font-size:12px;"> Mailinize gelen linke tıklamanız yeterlidir.</p>
                        <div id="forgotPasswordMessage"></div>
                        <mat-form-field>
                            <mat-label>Email</mat-label>
                            <input type="email" matInput placeholder="email" #emailForgot required>
                        </mat-form-field>
                        <button style="margin-left:5px;" (click)="ForgotPasswordSend(emailForgot.value)"
                            mat-raised-button color="primary">Gönder</button>
                    </form>
                </div>
            </section>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <i style="margin-right: 5px;" class="fas fa-user-plus fa-2x"></i>
                &nbsp;Kayıt
            </ng-template>
            <section style="margin-top: 3px;" class="signup-form">

                <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="registerForm"
                    (ngSubmit)="onSubmitRegister()">

                    <mat-form-field>
                        <input type="email" matInput placeholder="email" formControlName="emailRegister">
                        <mat-error *ngIf="registerForm.get('emailRegister').hasError('email')">Lütfen doğru bir email
                            adresi
                            yazınız</mat-error>
                        <mat-error *ngIf="registerForm.get('emailRegister').hasError('required')">Email boş brıaklımaz!
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field hintLabel="Şifre En az 6 karakterli olmalıdır.">
                        <input type="password" matInput placeholder="Şifreniz" formControlName="passwordRegister">
                        <mat-error>Şifre En az 6 karakterli olmalıdır. </mat-error>
                    </mat-form-field>
                    <div id="errMessageR" class="errMessage"></div>
                    <button type="submit" mat-raised-button color="primary"
                        [disabled]="registerForm.invalid">Kayıt Ol</button>
                </form>
            </section>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>