<div class="container"> 
    <div fxFlexFill fxLayout="row">
        <mat-card fxLayout fxFlexFill fxLayoutGap="10px" fxLayout.lt-sm="column">
            <div fxFlex="0 1 auto">
                <!--image and online-->
                <div fxLayout="column" fxLayoutAlign="start center" fxLayout.lt-sm="row">
                    <div style="margin: 0px;">
                        <img class="card-img"
                            src="https://i.pinimg.com/originals/00/fc/cf/00fccf7594ff0822281187d77a132e01.png" alt="">
                        <p class="online"><strong>Online</strong></p>
                    </div>
                    <div fxLayout="column" fxHide.gt-xs fxFlex fxLayoutAlign="center center">
                        <mat-card-title> master roshi</mat-card-title>
                        <mat-card-subtitle>Sifu Master</mat-card-subtitle>
                        <div class="card-button" fxFlex="1 1 auto" fxLayout >
                            <button class=" card-button-online card-item" mat-raised-button>Hemen Başla</button>
                            <button class=" card-button-randevu card-item" mat-raised-button>Randevu Al</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--image and online-->

            <div fxFlex>
                <!--uzmanlık alanı-->
                <div fxLayout="column">
                    <div fxFlex fxLayout>
                        <div fxFlex="0 1 auto" fxHide.lt-sm>
                            <mat-card-title> master roshi</mat-card-title>
                            <mat-card-subtitle>Sifu Master</mat-card-subtitle>
                        </div>
                        <div class="card-button" fxFlex="1" fxLayout fxLayoutAlign="flex-end"
                            fxLayoutAlign.lt-sm="center center" fxHide.lt-sm>
                            <button class=" card-button-online card-item" mat-raised-button>Hemen Başla</button>
                            <button class=" card-button-randevu card-item" mat-raised-button>Randevu Al</button>
                        </div>
                    </div>
                    <div fxFlex>
                        <hr class="card-divider">
                    </div>
                    <div fxFlex>
                        <p><strong>Uzmanlık Alanları:</strong></p>
                        <p style="margin-bottom: 0px; text-align: justify;">Lorem ipsum, dolor sit amet consectetur
                            adipisicing elit. Exercitationem temporibus quasi et
                            ipsa atque porro assumenda eveniet totam at illum voluptates, libero ducimus aperiam placeat
                            voluptatum consequatur, nobis sequi amet!</p>
                        <span style="margin: 0;" class="info-T">
                            <button mat-icon-button>
                                <mat-icon>search</mat-icon>Detaylı Bilgi
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <!--uzmanlık alanı-->
        </mat-card>
    </div>




    <!-- <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
        <div *ngIf="lastInfo">
            <button mat-raised-button [routerLink]="['/chats',lastInfo.roomId,lastInfo.chatId]">Last Chat</button>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div> -->



</div>