<div class="container" fxLayout="column" fxLayoutGap="5px">
    <div *ngIf="lastSeans$ | async as lastSeans">
        <mat-card *ngIf="lastSeans?.state==='continuing'">
            <div fxLayout fxLayoutAlign="center center">
                <div fxFlex="80%" fxLayout="column">
                    <div fxFlex>
                        <div  class="warningMain">
                            <mat-chip-list aria-label="Fish selection">
                                <span>
                                    <i class="blinkButton material-icons">warning</i>
                                    Yeni bir seansınız var! <strong>Bağlanmak için tıklatınız.</strong></span>
                                <mat-chip class="baglan" [routerLink]="['/chat',lastSeans.roomId,lastSeans.seansId]">
                                    Bağlan</mat-chip>
                            </mat-chip-list>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>

    <mat-card>
        <h5 class="tableHeader">Genel İstatistikler:</h5>
        <div fxLayout.gt-sm="row wrap" fxLayout.lt-md="column" fxLayoutAlign.gt-sm="center center">
            <div class="alert-success" fxFlex.lt-md="1" fxFlex.gt-sm="0 0 230px">
                <h5>Toplam Danışan Sayısı</h5>
                <mat-icon style="font-size:35px;">supervised_user_circle</mat-icon>
                <h4 style="text-align: center;"> {{totalUser}}</h4>
            </div>
            <div class="alert-success" fxFlex.lt-md="1" fxFlex.gt-sm="0 0 230px">
                <h5>Toplam Video Seans</h5>
                <mat-icon style="font-size:35px;">videocam</mat-icon>
                <h4 style="text-align: center;">{{totalVideo}}</h4>
            </div>
            <div class="alert-success" fxFlex.lt-md="1" fxFlex.gt-sm="0 0 230px">
                <h5>Toplam Sesli Seans</h5>
                <mat-icon style="font-size:35px;">mic</mat-icon>
                <h4 style="text-align: center;">{{totalAudio}}</h4>
            </div>
            <div class="alert-success" fxFlex.lt-md="1" fxFlex.gt-sm="0 0 230px">
                <h5>Toplam Soru Sayısı</h5>
                <mat-icon style="font-size:35px;">message</mat-icon>
                <h4 style="text-align: center;">{{totalMessage}}</h4>
            </div>
        </div>

        <fieldset>
            <legend>Bilgilendirme:</legend>
            <mat-list dense>
                <h3 mat-subheader>Danışan Bilgileri:</h3>
                <mat-list-item role="listitem">
                    <mat-icon mat-list-icon>done</mat-icon>
                    <span >Danışanın sizinle ilk seansıdır.</span>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <mat-icon mat-list-icon>done</mat-icon>
                    <span >Danışanın sizinle ilk seansıdır.</span>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <mat-icon mat-list-icon>done</mat-icon>
                    <span >Danışanın sizinle ilk seansıdır.</span>
                </mat-list-item>
            </mat-list>

        </fieldset>

    </mat-card>


</div>