<div class="container" fxLayout="column" fxLayoutGap="5px">
    
    <mat-card fxLayout="column" fxFlexFill fxLayoutGap="3px">
        <div fxLayout fxFlex="80%" fxLayoutAlign="center center">
            <div fxLayout="column" fxLayoutAlign=" stretch">
                <div fxFlex>
                    <h3 class="explain">Formda verdiğiniz cevaplara göre,
                        size
                        en
                        iyi şekilde yardım edebilecek tarapistler
                        önerilecektirr </h3>
                </div>
                <form fxLayout="column" fxFlex [formGroup]="matchingForm" (ngSubmit)="onSubmitMatch()">
                    <div fxFlex fxLayout="row" fxLayoutAlign="center center">
                        <mat-form-field fxFlex="80%">
                            <mat-label>Aradığınız yardım konusu nedir?</mat-label>
                            <mat-select formControlName="askHelp" multiple>
                                <mat-option *ngFor="let help of askHelp$ | async" [value]="help.name">{{help.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div *ngIf="!matching" fxFlex fxLayoutAlign="center center">
                        <div fxLayout="row" fxFlex="80%" fxLayoutGap.gt-xs="15px" fxLayout.lt-sm="column">
                            <mat-form-field fxFlex.gt-xs="50%">
                                <input formControlName="nickName" matInput placeholder="Kulanıcı İsmi">
                            </mat-form-field>
                            <mat-form-field fxFlex.gt-xs="50%">
                                <mat-select formControlName="gender" placeholder="Cinsiyet">
                                    <mat-option value="Bay">Bay</mat-option>
                                    <mat-option value="Bayan">Bayan</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxFlex fxLayoutAlign="center center">
                            <button class="match" type="submit" mat-raised-button [disabled]="matchingForm.invalid">Giriş</button>
                    </div>
                </form>
            </div>
        </div>

    </mat-card>

   

    <!-- <div *ngIf="!recommendedTherapist"  fxFlex.xs="100%">
            <div fxLayout="column">
                <h3 style="text-align:center;  font-weight: 200;color:#4d4d4d; ">Formda verdiğiniz cevaplara göre,
                    size
                    en
                    iyi şekilde yardım edebilecek tarapistler
                    önerilecektir </h3>
                <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="matchingForm"
                    (ngSubmit)="onSubmitMatch()">

                    <mat-form-field fxFlexFill>
                        <mat-label>Aradığınız yardım konusu nedir?</mat-label>
                        <mat-select formControlName="askHelp" multiple>
                            <mat-option *ngFor="let help of askHelp$ | async" [value]="help.name">{{help.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>


                    <button type="submit" mat-raised-button color="primary"
                        [disabled]="matchingForm.invalid">Giriş</button>

                </form>

            </div>
        </div> -->

 






    <div *ngIf="recommendedTherapist" fxFlex="70%" fxFlex.xs="100%">
        <mat-card *ngFor="let therapist of recommendedTherapist$ | async" class="example-card">
            <div fxFlexFill fxLayout>
                <div>
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>{{therapist.name}}</mat-card-title>
                        <mat-card-subtitle>{{therapist.expertise}} </mat-card-subtitle>
                    </mat-card-header>
                </div>
                <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta doloremque, magnam veniam
                        incidunt amet vitae deleniti maiores, quaerat commodi libero iusto magni voluptatem tempore
                        hic
                        dolores earum reprehenderit nam ullam!</div>
                    <mat-card-actions>
                        <button mat-raised-button [ngClass]="{
                            'is-success':  therapist?.state  === 'online',
                            'is-warning': therapist?.state  === 'away',
                            'is-danger':  therapist?.state  === 'offline'
                        }" [routerLink]="['/therapist', therapist.uid]">{{therapist.state}}</button>
                        <button mat-raised-button color="primary">Approve</button>
                    </mat-card-actions>

                </div>
            </div>
        </mat-card>
    </div>


    <app-therapist-card *ngIf="recommendedTherapist" [uidTherapist]="recommendedTherapist"  style="margin-bottom: 3px;"></app-therapist-card>
</div>
