.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  
  .row-link:hover {
    background-color: rgba(0, 0, 0, .05);
    cursor: pointer;
  }
  .mat-cell {
    padding: 28px 0px 28px 10px;
  }