.toolbarTop{
  background-color:transparent;
  position: fixed;
  top: 0; /* Sets the sticky toolbar to be on top */
  height: 60px;
  transition: 0.6s;
  z-index: 2;
  margin: 0;

} 
.toolbarOffsetY{
  background-color:white;
  position: fixed;
  top: 0; /* Sets the sticky toolbar to be on top */
  height: 60px;
  z-index: 1000;
  margin: 0;
}

.toolbarUser{ 
  background-color:white;
 position: fixed;
   /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  height: 60px;
  z-index: 1000;
  margin: 0;
  
}

.banner-image{
  width: 150px;

}


a {
    text-decoration: none;
    color: white;
  }
  
  a:hover,
  a:active {
    color: rgb(233, 232, 231);
    cursor: pointer;
  }

  
 
  .navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .navigation-items > .toolbarLink a{

    font-size: 1.2rem;
    font-family: "Ubuntu Condensed", sans-serif;
    color: #fafafa;
    text-decoration: none;
    transition: 0.5s;

  } 

  .toolbarOffsetY .navigation-items > .toolbarLink a{
    color: rgb(116, 112, 112);
  }
  .toolbarUser .navigation-items > .toolbarLink a{
    color: rgb(116, 112, 112);
  }



  .toolbarLink{
    font-weight: 400;
    line-height: 200%;
    
  }

  .toolbarLink::after{
    content:''; 
    display:block;
    width:0px;
    height:3px;
    background:#49a010;
    -webkit-transition:width 0.4s;
    transition:width 0.4s;
}

.toolbarLink:hover::after{
    width:100%;
}

.banner-button{
  background-color: #49a010;
  color:white;
  font-size: 15px;
}

.material-icons{
  font-size: 35px;
}

.menu{
  font-weight: 400;
  line-height: 20px;
  font-size: 16px;
}

.menu > ul > li{
  padding-right: 30px;
  
}

.userHeader:hover{
  box-shadow: black;

}

.userHeader{
  margin-bottom: 5px;

}

.hamburg{
  font-size: 1.5rem;
}
.hamburg:hover{
  color: #49a010;
}