<mat-toolbar [ngClass]="{'toolbarTop':(isLoggedOut$ | async)||(currentUrl && (isLoggedIn$ | async)),
                          'toolbarOffsetY':toolbarColor,
                          'toolbarUser':!currentUrl && (isLoggedIn$ | async)}">
  <div fxFlexFill fxLayout=row fxLayoutAlign="center center" fxLayoutGap="5px">

    <div fxFlex="0 1 auto" fxHide.gt-xs fxLayoutAlign="start">
        <i  class="fas fa-bars hamburg" (click)="onToggleSidenav()"></i>
    </div>
    <div fxFlex="0 1 auto" fxLayoutAlign="start center" fxFlex.lt-sm fxLayoutAlign.lt-sm="flex-end">
      <div class="banner-image">
        <a style="cursor: pointer;" routerLink="/"><img style="width: 100%;" src="/assets/logo.png" alt=""></a>
      </div>
     
    </div>
    <div class="menu" fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.lt-sm>
      <ul fxLayout class="navigation-items">
        <li class="toolbarLink">
          <a [routerLink]="['']" fragment="how-work" >Nasıl Çalışır</a>
        </li>
 
        <li class="toolbarLink">
          <a  [routerLink]="['']" fragment="about-us">Hakkımızda</a>
        </li>
        <li *ngIf="(isLoggedOut$ | async)">
          <button mat-raised-button class="banner-button" (click)="startCounceling()">Hemen Başla</button>
        </li>

        <li class="toolbarLink" *ngIf="(isLoggedIn$ | async)">
          <a (click)="onLogout()">Logout</a>
        </li>
      </ul>
    </div>


    <ng-container *ngIf="(user$ | async) as user">

      <div class="userHeader" *ngIf="user?.email" [routerLink]="['/matching']" style="cursor: pointer;outline: 0;" fxFlex="0 1 auto"
        fxLayoutAlign="start center" fxHide.lt-sm>
        <div *ngIf="user?.displayName;else userEmail">{{user.displayName}}</div>
        <ng-template #userEmail>
          <div>{{user.email | email}}</div>
        </ng-template>
        <i style="padding-left: 5px;" class="fas fa-user-alt"></i>
      </div>
    </ng-container>





  </div>

</mat-toolbar>