<div fxFlex>
<app-header  [userAuth]="userAuth$" [ngClass]="{'header':(!currentUrl && userAuth)}"
      (sidenavToggle)="sidenav.toggle()"></app-header>
<mat-sidenav-container [ngClass]="{'container':(!currentUrl && userAuth)}" autosize>
  <mat-sidenav [ngClass]="{'sidenavUser':(isExpanded && !currentUrl && userAuth),
                            'sidenavnotExpanded':(!currentUrl && userAuth && !isExpanded)}"
   #sidenav role="navigation"
   [mode]="mobileQuery.matches || currentUrl  ? 'over' : 'side'" 
   [opened]="!mobileQuery.matches && userAuth && !currentUrl "
   (closed)="closeSidenav()"
   fullscreen>
    
    <app-sidenav 
    [mobileQuery]="mdq"
    [currentUrl]="currentUrl" 
    [userAuth]="userAuth$"
    (closeSidenav)="sidenavClose($event)"></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
</div>