<div class="seansPayment">


<div fxLayout="row" class="headerTherapist" fxLayoutAlign="start">
    <div fxFlex="0 1 auto">
        <img class="card-img " *ngIf="data?.therapist?.photoURL" [src]="data?.therapist?.photoURL" alt="">
    </div>
    <div class="textFont" fxFlex="0 1 auto" fxFlexAlign="center">
        <span style="margin-left: 5px;"><strong>{{data?.therapist?.displayName}}</strong></span>
        <span> &nbsp;/&nbsp; Therapist</span>
    </div>
</div>
<div *ngIf="isPassiveVideo" style="margin: 2px;padding-left: 10px;">
    <span class="textFont" style="font-size: 12px;text-align: justify;">!Therapist şuan online değildir. Video
        ve sesli görüşme yapılamaz. İsterseniz randevu alabilirsiniz!</span>
</div>
<div class="allcontent textFont">
    <mat-card>
        <mat-horizontal-stepper [linear]="true" #stepper>
            <mat-step >
                <ng-template matStepLabel>Görüşme Türü</ng-template>
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                    [(ngModel)]="seansType" 
                    (change)="seansTypeChange()">

                    <div class="step1" fxLayout="column">
                        <div *ngIf="therapist?.video" class="section" fxFlex>
                            <div [ngClass]="{'color_change':seansType===seansPrice?.video}" fxLayout="row">
                                <mat-radio-button [disabled]="isPassiveVideo" [value]="seansPrice?.video"
                                    class="example-radio-button">
                                    <div fxFlex>
                                        <div class="type">
                                            <i [class]="seansPrice?.video?.icon">
                                            </i>
                                            <span style="margin-left: 5px;">
                                                <strong>Videolu Görüşme</strong>
                                            </span>
                                        </div>
                                        <div class="price">
                                            {{seansPrice?.video?.price}} TL / 45 dakikalık Videolu Görüşme
                                        </div>
                                    </div>
                                </mat-radio-button>
                            </div>
                        </div>
                        <div *ngIf="therapist?.video" class="section" fxFlex>
                            <hr class="card-divider">
                        </div>
                        <div *ngIf="therapist?.audio" class="section" fxFlex>
                            <div [ngClass]="{'color_change':seansType===seansPrice?.audio}" fxLayout="row">
                                <mat-radio-button [disabled]="isPassiveVideo" class="example-radio-button"
                                    [value]="seansPrice?.audio">
                                    <div fxFlex>
                                        <div class="type">
                                            <i  [class]="seansPrice?.audio?.icon">
                                            </i>
                                            <span style="margin-left: 5px;">
                                                <strong>Sesli Görüşme</strong>
                                            </span>
                                        </div>
                                        <div class="price">
                                            {{seansPrice?.audio?.price}} TL / 45 dakikalık Sesli Görüşme
                                        </div>
                                    </div>
                                </mat-radio-button>
                            </div>
                        </div>
                        <div *ngIf="therapist?.audio" class="section" fxFlex>
                            <hr class="card-divider">
                        </div>

                        <div *ngIf="therapist?.chat" class="section" fxFlex>
                            <div [ngClass]="{'color_change':seansType===seansPrice?.chat}" fxLayout="row">
                                <mat-radio-button [disabled]="isPassiveVideo" class="example-radio-button"
                                    [value]="seansPrice?.chat">
                                    <div fxFlex>
                                        <div class="type">
                                            <i  [class]="seansPrice?.chat?.icon"> 
                                            </i>
                                            <span style="margin-left: 5px;">
                                                <strong>Anlık Mesajlaşma</strong>
                                            </span>
                                        </div>
                                        <div class="price">
                                            {{seansPrice?.chat?.price}} TL / 45 dakikalık Chatli Görüşme
                                        </div>
                                    </div>
                                </mat-radio-button>
                            </div>
                        </div>

                        <div class="section" fxFlex>
                            <hr class="card-divider">
                        </div>
                        <div class="section" fxFlex>
                            <div [ngClass]="{'color_change':seansType===seansPrice?.message}" fxLayout="row">
                                <mat-radio-button [value]="seansPrice?.message" class="example-radio-button">
                                    <div fxFlex>
                                        <div class="type">
                                            <i [class]="seansPrice?.message?.icon">
                                            </i>
                                            <span style="margin-left: 5px;">
                                                <strong>Soru Sor</strong>
                                            </span>
                                        </div>
                                        <div class="price">
                                            {{seansPrice?.message?.price}} TL / Mesajla Soru Sorma
                                        </div>
                                    </div>
                                </mat-radio-button>
                            </div>
                        </div>
                    </div>


                </mat-radio-group>

                <div fxLayout="row" fxLayoutAlign="end" style="margin-right: 10px;">
                    <button class="banner-button" mat-button matStepperNext>Devam</button>
                </div>


            </mat-step>
            <mat-step *ngIf="isAppointment && seansType!==seansPrice?.message " [stepControl]="appointmentForm">
                <form [formGroup]="appointmentForm">
                    <ng-template matStepLabel>Randevu</ng-template>

                    <div fxLayout="column">
                        <div fxFlex>
                            <div fxLayout.gt-xs="row" fxLayoutGap.gt-xs="10px" fxLayout.lt-sm="column" fxLayoutGap.lt-sm="5px">
                                <div fxFlex>
                                    <mat-form-field>
                                        <mat-label>Randevu Tarihini seçiniz</mat-label>
                                        <input matInput formControlName="appointmentDate" [min]="minDate"
                                            [max]="maxDate" [matDatepicker]="picker"
                                            (dateChange)="appointmentAddEventDatepicker('change', $event)">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                        <mat-error *ngIf="appointmentForm.get('appointmentDate').hasError('required')">
                                            Tarih
                                            kısmı
                                            boş brıaklımaz!
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div fxFlex>
                                    <mat-form-field style="width:200px;">
                                        <mat-label>Randevu saatini seçiniz.</mat-label>
                                        <mat-select formControlName="appointmentHour">
                                            <mat-option *ngFor="let hour of (AppointmentHours$ | async)" [value]="hour">
                                                {{hour.timeRange}}
                                            </mat-option>
                                        </mat-select>

                                    </mat-form-field>
                                    <div style="margin: 0px;color: red;">
                                        <ng-container *ngIf="(AppointmentHours$ | async) as hours;else none">
                                        </ng-container>
                                        <ng-template #none><span *ngIf="waitOneSecond">Bu tarihte, uygun bir randevu
                                                saati bulunmamaktadır.</span></ng-template>
                                    </div>
                                </div>

                            </div>
                        </div>
                      
                        <div>

                        </div>
                        <div fxFlex>
                            <!-- <button [disabled]="appointmentForm.invalid" mat-raised-button>
                                Randevu Al
                            </button> -->

                            <div fxLayout="row" fxLayoutAlign="end" style="margin-right: 10px;">
                                <button mat-button matStepperPrevious>Geri</button>
                                <button class="banner-button" mat-button matStepperNext>Devam</button>
                            </div>

                        </div>
                    </div>


                </form>

            </mat-step>          
            <mat-step *ngIf="seansType===seansPrice?.message" [stepControl]="messageForm">
                <form *ngIf="seansType===seansPrice?.message" [formGroup]="messageForm">
                    <ng-template matStepLabel>Soru Formu</ng-template>
                    <div fxLayout="row" fxLayoutAlign="center">
                        <div fxFlex="80%" fxLayoutGap="10px">
                            <div fxLayout="column">
                                <div fxFlex>
                                    <h3 class="explain">Formda verdiğiniz cevaplara göre,
                                        size
                                        en
                                        iyi şekilde yardım edebilecek tarapistler
                                        önerilecektirr </h3>
                                </div>
                                <mat-form-field fxFlex>
                                    <input matInput formControlName="konu" placeholder="Konu">
                                </mat-form-field>

                                <mat-form-field fxFlex appearance="fill">
                                    <mat-label>Sorunuz</mat-label>
                                    <textarea class="textAreaShow" matInput formControlName="message"
                                        placeholder="sorunuzu yazınız...">

                                    </textarea>
                                </mat-form-field>

                            </div>
                        </div>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="end" style="margin-right: 10px;">
                        <button mat-button matStepperPrevious>Geri</button>
                        <button class="banner-button" mat-button matStepperNext>Devam</button>
                    </div>


                </form>

            </mat-step>
            <mat-step
                *ngIf="(seansType===seansPrice?.video||seansType===seansPrice?.audio || seansType===seansPrice?.chat )">
                <div
                    *ngIf="(seansType===seansPrice?.video||seansType===seansPrice?.audio || seansType===seansPrice?.chat )">
                    <ng-template matStepLabel>Bilgi Formu</ng-template>
                    <div fxLayout="row" fxLayoutAlign="center">
                        <div fxFlex="80%" fxLayoutGap="10px">
                            <div fxLayout="column">
                                <div fxFlex>
                                    <div *ngIf="!matching" fxLayout="row">
                                        <!--matching if-->
                                        <fieldset fxFlexFill>
                                            <legend> Kendiniz hakkında bilgi giriniz(İsteğe bağlı);</legend>
                                            <div fxLayout="row" fxLayoutAlign="center center">
                                                <div fxFlex="80%" fxLayout.lt-sm="column" fxLayout.gt-xs="row"
                                                    fxLayoutGap="10px">

                                                    <mat-form-field fxFlex.gt-xs="50%" fxFlex.lt-sm="100%">
                                                        <input [(ngModel)]="displayName" matInput
                                                            placeholder="Kulanıcı İsmi">
                                                    </mat-form-field>

                                                    <mat-form-field fxFlex.gt-xs="50%" fxFlex.lt-sm="100%">
                                                        <mat-select [(ngModel)]="gender" placeholder="Cinsiyet">
                                                            <mat-option value="Bay">Bay</mat-option>
                                                            <mat-option value="Bayan">Bayan</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>

                                                </div>

                                            </div>
                                        </fieldset>

                                    </div>
                                </div>
                                <div fxFlex>
                                    <div style="width: 100%;text-align:center;margin: 15px;">
                                        <span>Görüşme öncesi ön bilgi verebilirsiniz.(İsteğe bağlıdır.) </span>
                                    </div>
                                    <mat-form-field style="width: 100%;" appearance="fill">
                                        <textarea class="textAreaShow" matInput [(ngModel)]="bilgi"
                                            placeholder="Ön bilgilendirme"></textarea>
                                    </mat-form-field>
                                </div>
                              
                            </div>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="end" style="margin-right: 10px;">
                        <button mat-button matStepperPrevious>Geri</button>
                        <button class="banner-button" mat-button matStepperNext>Devam</button>
                    </div>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Tamamlama</ng-template>

                <div fxLayout="row" fxLayoutAlign="center">
                    <div fxFlex="1 1 auto" >
                        <div fxLayout="column">
                            <div fxFlex>

                                <fieldset style="padding-bottom: 20px;" fxFlexFill>
                                    <legend>Kontrol</legend>
                                    <P>Lütfen Yapmak istediğiniz görüşme türünü tekrar kontrol ediniz.</P>
                                    <ng-container *ngIf="seansType">
                                        <div>
                                            <i style="vertical-align: middle;color:#49a010;"
                                                [class]="seansType.icon">
                                            </i>
                                            <div class="controlSeansTypeText">
                                                <div>{{seansType.label}}</div>
                                                <div><strong>{{seansType.price}} TL </strong> / 45 dakikalık
                                                    {{seansType.label}} Seçtiniz </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="!messageForm.invalid">
                                        <div style="margin-top: 5px;">
                                            <mat-form-field fxFlex appearance="fill">
                                                <mat-label>Sorunuz:</mat-label>
                                                <textarea disabled class="textAreaShow" matInput [value]="messageForm.value.message"
                                                    placeholder="sorunuzu yazınız...">
                                                </textarea>
                                            </mat-form-field>
                                        </div>
                                    </ng-container>
                                    <ng-container  *ngIf="isAppointment && !appointmentForm.invalid">
                                        <div style="margin-top: 3px;"><span><strong>Randevunuz:</strong></span></div>
                                        <div class="controlAppointment" >
                                            <span><strong>Tarih :</strong> </span>{{appointmentForm.value.appointmentDate.format('DD/MM/YYYY')}}
                                        </div>
                                        <div class="controlAppointment">
                                            <span><strong>Saat :</strong> </span> {{appointmentForm.value.appointmentHour.timeRange }}
                                        </div>
                                    </ng-container>
                                </fieldset>
                            </div>
                        </div> 


                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="end" style="text-align: right;padding: 10px 35px 0px 10px;">
                     <mat-spinner  *ngIf="waiting" [diameter]="40"></mat-spinner> 
                </div> 
                <div fxLayout="row" fxLayoutAlign="end" style="margin-right: 10px;margin-top: 20px;">
                    <button mat-button matStepperPrevious>Geri</button>
                    <button mat-button (click)="stepper.reset()">Sıfırla</button>
                    <button class="banner-button controlPay" (click)="onSubmitPayment()" mat-button matStepperNext>Ödemeye Geç</button>
                    
                </div>
            </mat-step>
            <ng-template matStepperIcon="edit">
                <i class="fas fa-check"></i>
              </ng-template>
            
        </mat-horizontal-stepper>
    </mat-card>
</div>


</div>