<div class="container">
    <h5 class="tableHeader" *ngIf="user?.type==='user'">Cevap Bekleyen Sorularınız</h5>
    <h5 class="tableHeader" *ngIf="user?.type==='therapist'">Cevap Bekleyen Sorular</h5>
    <div *ngIf="lastMessageLength>0">
        <table mat-table [dataSource]="dataSourceLast">
            <ng-container matColumnDef="no">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let i=index"> {{i+1}} </td>
            </ng-container>
            <ng-container matColumnDef="displayName">
                <th mat-header-cell *matHeaderCellDef>
                    <span *ngIf="user?.type==='user'">Therapist</span>
                    <span *ngIf="user?.type==='therapist'">Danışan</span>
                </th>
                <td mat-cell *matCellDef="let element">
                    <span *ngIf="user?.type==='user'">{{element.therapistname}}</span>
                    <span *ngIf="user?.type==='therapist'">{{element.userdisplayname}} / {{element.usermail}}</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef>Soru Tarihi</th>
                <td mat-cell *matCellDef="let element"> {{element?.createdtime |  date:'dd/MM/yyyy H:mm'}} </td>
            </ng-container>
            <ng-container matColumnDef="state">
                <th mat-header-cell *matHeaderCellDef>Durum</th>
                <td mat-cell *matCellDef="let element">
                    <span *ngIf="!element?.answer" style="color: red;">Cevap Bekleniyor</span>
                    <span *ngIf="element?.answer" style="color: #468847;">Sorunuz Cevaplanmıştır.</span>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsLast"></tr>
            <tr mat-row class="row-link" (click)="openQuestion(row)" *matRowDef="let row; columns: displayedColumnsLast;"></tr>
        </table>
    </div>
    <div *ngIf="lastMessageLength===0" fxLayout=row fxLayoutAlign="start center">
        <div fxFlex="0 1 50%" fxFlex.lt-sm="100%" class="warningMain">
            <span style="text-align: left;">Yeni sorulmuş  soru yoktur. </span>
        </div>
    </div>


    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtre">
    </mat-form-field>

    <h5 class="tableHeader">Cevaplanmış ve Okunmuş Tüm Sorular:</h5>
    <div *ngIf="seansMessagesLength===0" fxLayout=row fxLayoutAlign="start center">
        <div fxFlex="0 1 50%" fxFlex.lt-sm="100%" class="warningMain">
            <span style="text-align: left;">Sorulmuş herhangi bir soru yoktur. </span>
        </div>
    </div>
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let i=index"> {{i+1}} </td>
        </ng-container>'no', 'user', 'email', 'createdAt', 'question', 'state'
        <ng-container matColumnDef="displayName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <span *ngIf="user?.type==='user'">Therapist</span>
                <span *ngIf="user?.type==='therapist'">Danışan</span>
            </th>
            <td mat-cell *matCellDef="let element"> {{element?.displayName}} </td>
        </ng-container>
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
            <td mat-cell *matCellDef="let element"> {{element?.email}} </td>
        </ng-container>
        <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Soru Tarihi</th>
            <td mat-cell *matCellDef="let element"> {{element?.createdAt |  date:'dd/MM/yyyy H:mm'}} </td>
        </ng-container>
        <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef>Durum</th>
            <td mat-cell *matCellDef="let element">
                <span *ngIf="!element?.answer" style="color: red;">Cevap Bekleniyor</span>
                <span *ngIf="element?.answer" style="color: #468847;">Sorunuz Cevaplanmıştır.</span>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row class="row-link" (click)="openQuestion(row,'allMessage')" *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator itemsPerPageLabel="xx" [pageSizeOptions]="[50, 100, 150, 200]"></mat-paginator>
       
</div>