/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";
/* @import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css"; */
 
html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F9F9FE;
}

body{ 
    margin: 0;
    background-color: #F9F9FE;
    
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color:#49a010; 
  }
  
  .mat-radio-button.mat-accent .mat-radio-inner-circle{
    color:#49a010;
    background-color:#49a010 ;
  }
  
  .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
      background-color:rgb(255, 37, 37,.26)
  }

  .custom-dialog-container .mat-dialog-container {
    padding: 0px !important;
}

.cardSectionHeader{
  margin:0px;
  padding: 0px;
  color: rgba(163, 163, 163, 0.911);
}

.testBorder{
  border: 1px solid red;
}