/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css"; 
/* @import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css"; */

 
html, body {
    height: 100%;
    font-family:  Helvetica, sans-serif;
    background-color: #F9F9FE;
    
    
}
 
body{ 
    margin: 0;
    background-color: #F9F9FE;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}

.headerSection>h2{
  padding-top: 15px;
  padding-bottom: 15px;
  display: inline-block;
  font-size: 1.7rem;
}

.headerSection>h2::after{ 
  content:'';
  display:block;
  width:70px;
  height:1px;
  background:#49a010;
  margin-top: 10px;
  
}
@media screen and (max-width:615px){

  .headerSection>h2{  
      font-size: 1.5rem!important;
  }
  

}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color:#49a010; 
  }
  
  .mat-radio-button.mat-accent .mat-radio-inner-circle{
    color:#49a010;
    background-color:#49a010 ;
  }
  
  .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
      background-color:rgb(255, 37, 37,.26)
  }

  .custom-dialog-container .mat-dialog-container {
    padding: 0px !important;
}

.cardSectionHeader{
  margin:0px;
  padding: 0px;
  color: rgba(163, 163, 163, 0.911);
}

.testBorder{
  border: 1px solid red;
}


.textFont{
  color: #5c656d;
  font-size: 16px;
  line-height: 128%;
  font-weight: 400px;
}

.topHeaderFont{
  color: #5c656d;
  font-size: 25px;
  line-height: 200%;
}

