<div class="banner">
    <div fxFlexFill fxLayout fxLayoutAlign.lt-md="center center" fxLayoutAlign="center center">
        <div class="banner-text">
            <div class="banner-heading">
                Sorunları Ertelemeyin
            </div>
            <div class="banner-sub-heading ">
                Uzman Psikologlarımızla Hizmetinizdeyiz...
            </div>
            <button mat-raised-button class="banner-button" (click)="startCounceling()">Hemen Başla</button>
        </div>

    </div>
</div>
<div id="how-work" class="section">
    <div class="container ">
        <div fxLayout="column">
            <div class="headerSection" style="margin-bottom:10px;" fxFlex>
                Nasıl Çalışır?
            </div>
            <div fxFlex>
                <span class="lineSection"></span>
            </div>
            <div style="padding-bottom: 5px;padding-top: 20px;" fxFlex>
                <div class="textSection" style="color: #434a50;"
                 fxLayout.gt-xs="row" fxLayoutGap.gt-xs="15px" fxLayout.lt-sm="column" fxLayoutGap.lt-sm="15px">
                    <div fxFlex class="stepHowWork">
                        <p> <strong>Heman Başla</strong> butonuna tıklayarak email hesabınız ile kayıt olunuz.Telefon
                            numarası
                            <u>gerekmemektedir</u> </p>
                        <div class="number"> <strong>1</strong></div>
                    </div>
                    <div fxFlex class="stepHowWork">
                        <p>Karşınıza gelen ekranda size en iyi yardım edebilecek therapisti özel eşleştirme ile
                            seçiyoruz
                        </p>
                        <div class="number"> <strong>2</strong></div>
                    </div>
                    <div fxFlex class="stepHowWork">
                        <p>Adımları takip ederek size uygun sıralanan uzmanlarımızdan dilediğiniz ile istediğiniz türde
                            görüşme yapabilirsiniz.</p>
                        <div class="number"> <strong>3</strong></div>
                    </div>
                </div>
            </div>
            <div class="textSection" fxFlex>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis ducimus harum et quos quod
                    assumenda sapiente perspiciatis incidunt ullam modi nam nostrum molestiae molestias atque corrupti,
                    itaque repellendus impedit vitae.</p>
            </div>
        </div>

    </div>
</div>

<div class="section devices">
    <div class="container">
        <div fxLayout="column">
            <div fxFlex>
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="25px">
                    <div fxFlex="0 1 auto">
                        <mat-icon class="deviceSize">phone_iphone</mat-icon>
                    </div>

                    <div fxFlex="0 1 auto">
                        <mat-icon style="font-size: 45px;" class="deviceSize">desktop_mac</mat-icon>
                    </div>
                    <div class="divider" fxFlex="0 1 auto">
                    </div>
                    <div fxFlex="0 1 auto">
                        <mat-icon class="deviceSize">videocam</mat-icon>
                    </div>
                    <div fxFlex="0 1 auto">
                        <mat-icon class="deviceSize">mic</mat-icon>
                    </div>
                    <div fxFlex="0 1 auto">
                        <mat-icon class="deviceSize">chat</mat-icon>
                    </div>
                </div>

            </div>
            <div fxFlex>
                <div fxLayout="row">
                    <div class="deviceText" fxFlex.gt-xs="50%" fxFlex.lt-sm>
                        <div class="headerSection">Dilediğiniz yerden ulaşım</div>
                        <div class="textSection">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam dicta voluptatem velit
                            perferendis amet dolor similique quisquam maiores, vitae optio ipsum autem voluptatum
                            assumenda quo dolore in dolorem! Voluptatem, distinctio.</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam dicta voluptatem velit
                                perferendis amet dolor similique quisquam maiores, vitae optio ipsum autem voluptatum
                                assumenda quo dolore in dolorem! Voluptatem, distinctio.</p>
                        </div>
                        
                    </div>
                    <div style="text-align: center;" fxHide.lt-sm class="deviceText" fxFlex="50%">
                        <img style="width: 100%;" src="https://via.placeholder.com/400x300" alt="">
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<div id="about-us" class="section">
    <div class="container">
        <div fxLayout="column">
            <div fxFlex>
                <div class="topHeaderSection" fxLayout="row" fxLayoutGap="20px">
                    <div fxFlex="0 1 auto">
                        Lisanslı
                    </div>
                    <div fxFlex="0 1 auto">
                        Denayimli
                    </div>
                    <div fxFlex="0 1 auto">
                        Uzman
                    </div>
                </div>
            </div>
            <div style="padding-top:10px;" fxFlex fxHide.gt-xs>
                <img style="width: 100%;" src="https://via.placeholder.com/200x80" alt="">
            </div>
            <div fxFlex>
                <div fxLayout="row">
                    <div fxHide.lt-sm fxFlex="50%" style="padding-top: 20px;
                    padding-right: 20px;">
                        <img style="width: 100%;" src="https://via.placeholder.com/400x300" alt="">
                    </div>

                    <div fxFlex.gt-xs="50%" style="padding-top: 20px;
                    padding-left: 10px;padding-right: 10px;" fxFlex.lt-sm>
                        <div fxLayout="column">
                            <div class="headerSection" fxFlex>
                                Biz Kimiz? 
                            </div>
                            <div fxFlex>
                                <span class="lineSection"></span>
                            </div>
                            <div fxFlex class="textSection">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum dolorum repellat
                                    fugiat totam dolor architecto, ducimus similique ab, maiores voluptates rerum ipsam
                                    minima sed nam? Modi qui reprehenderit et odit.</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, ipsa sapiente dicta
                                    fugiat animi pariatur nemo placeat doloribus odit voluptatum aliquid saepe, alias
                                    atque officia vel. Commodi omnis nostrum fugiat.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>