<div class="banner">
    <div fxFlexFill fxLayout fxLayoutAlign.lt-md="center center" fxLayoutAlign="center center">
        <div class="banner-text">
            <div class="banner-heading">
                Sorunları Ertelemeyin
            </div>
            <div class="banner-sub-heading ">
                Uzman Psikologlarımızla Hizmetinizdeyiz...
            </div>
            <button mat-raised-button class="banner-button" (click)="startCounceling()">Hemen Başla</button>
        </div>

    </div>
</div>

<div class="container ">
    <div fxLayout="column">
        <div style="text-align: center;margin-bottom:10px;" fxFlex>
            <h1>Nasıl Çalışır?</h1>
        </div>
        <div style="padding-bottom: 5px;padding-top: 5px;" fxFlex>
            <div fxLayout.gt-xs="row" fxLayoutGap.gt-xs="15px" fxLayout.lt-sm="column" fxLayoutGap.lt-sm="15px">
                <div fxFlex class="stepHowWork">
                    <p> <strong>Heman Başla</strong> butonuna tıklayarak email hesabınız ile kayıt olunuz.Telefon numarası
                        <u>gerekmemektedir</u> </p>
                    <div class="number"> <strong>1</strong></div>
                </div>
                <div fxFlex class="stepHowWork">
                    <p>Karşınıza gelen ekranda size en iyi yardım edebilecek therapisti özel eşleştirme ile seçiyoruz
                    </p>
                    <div class="number"> <strong>2</strong></div>
                </div>
                <div fxFlex class="stepHowWork">
                    <p>Adımları takip ederek size uygun sıralanan uzmanlarımızdan dilediğiniz ile istediğiniz türde
                        görüşme yapabilirsiniz.</p>
                    <div class="number"> <strong>3</strong></div>
                </div>
            </div>
        </div>
        <div fxFlex>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis ducimus harum et quos quod assumenda sapiente perspiciatis incidunt ullam modi nam nostrum molestiae molestias atque corrupti, itaque repellendus impedit vitae.</p>
        </div>
    </div>

</div>