<div class="heroSection">
    <div class="topHeading">
        <h1><span style="color:#111a3c">Affordable</span>, private online counseling </h1>
    </div>
    <div class="bottomHeading">
        <h3>Talk with a licensed, professional therapist online</h3>
        <div style="margin-top: 21px;">
            <button mat-raised-button class="banner-button" (click)="startCounceling()">Hemen Başla</button>
        </div>
    </div>



    <div class="arrowDown">

        <i class="fas fa-angle-double-down"></i>

    </div>

</div>

<div class="aboutusSection">
    <div class="inner">
        <div class="topHeader">
            <i class="far fa-check-circle"></i>
            <h2>Lisanslı</h2>
            <i class="far fa-check-circle"></i>
            <h2>Deneyimli</h2>
            <i class="far fa-check-circle"></i>
            <h2>Uzman</h2>

        </div>
        <div class="wrapperColumn">
            <div data-aos="fade-up"
            data-aos-duration="3000" class="image">
                <img src="/assets/aboutus.png" alt="">
            </div>
            <div class="content">
                <div style="margin-bottom:25px ;" class="headerSection">
                    <h2 style="margin: 0px;padding: 0px;">About Us</h2>
                </div>
                <div class="text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime totam neque aut minima
                        ea molestiae, ullam cumque ipsum ipsam possimus distinctio eos dolorem perspiciatis
                        blanditiis autem numquam facere? Error, molestiae?</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda officia molestias
                        quidem? At animi ipsum quasi, eveniet, adipisci cumque rerum molestias, deserunt
                        repudiandae maxime error veniam atque aperiam minus repellat.</p>
                </div>
            </div>
        </div>
    </div>


</div>

<div id="how-work" class="howtowokSection">
    <div style="text-align: center;" class="headerSection">
        <h2 style="color: #ccd1e2;">How to Work</h2>
    </div>
    <div class="contentMain">
        <div class="timeline">
            <div data-aos="fade-left" class="container left">
                <div class="content">
                    <div class="contentNumber">1</div>
                    <h2 class="contentHeader">Lorem Ipsum</h2>
                    <p class="contenText">Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum
                        perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te
                        elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                </div>
            </div>
            <div data-aos="fade-right" class="container right">
                <div class="content">
                    <div class="contentNumber">2</div>
                    <h2 class="contentHeader">Lorem Ipsum</h2>
                    <p class="contenText">Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum
                        perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te
                        elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                </div>
            </div>
            <div data-aos="fade-left" class="container left">
                <div class="content">
                    <div class="contentNumber">3</div>
                    <h2 class="contentHeader">Lorem Ipsum</h2>
                    <p class="contenText">Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum
                        perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te
                        elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                </div>
            </div>
            <div data-aos="fade-right" class="container right">
                <div class="content">
                    <div class="contentNumber">4</div>
                    <h2 class="contentHeader">Lorem Ipsum</h2>
                    <p class="contenText">Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum
                        perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te
                        elit voluptua dignissim per, habeo iusto primis ea eam.</p>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="featuresSection">
    <div class="headerSection">
        <h2>Features Header</h2>
    </div>
    <div class="content">
        <div class="columns-wrapper">
            <div class="column">
                <i class="fas fa-video"></i>
                <p>Video Calling!</p>

                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                </p>
            </div>

            <div class="column">
                <i class="fas fa-microphone"></i>
                <p>Voice Calling!</p>

                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                </p>
            </div>

            <div class="column">
                <i class="fas fa-comments"></i>
                <p>Instant Chating!</p>

                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                </p>
            </div>
        </div>
    </div>

</div>

<div class="infoSection">
    <div class="inner">
        <div class="wrapperColumn">
            <div class="content">
                <div style="margin-bottom:25px ;" class="headerSection">
                    <h2 style="margin: 0px;padding: 0px;">More Info</h2>
                </div>
                <div class="text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime totam neque aut minima
                        ea molestiae, ullam cumque ipsum ipsam possimus distinctio eos dolorem perspiciatis
                        blanditiis autem numquam facere? Error, molestiae?</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda officia molestias
                        quidem? At animi ipsum quasi, eveniet, adipisci cumque rerum molestias, deserunt
                        repudiandae maxime error veniam atque aperiam minus repellat.</p>
                </div>
            </div>
            <div data-aos="fade-up"
            data-aos-duration="3000"  class="image">
                <img src="/assets/freedom.jpg" alt="">
            </div>
        </div>
    </div>
</div>

<div class="testimonialSection">
    <div class="slideContainer">
        <div class="mySlides fade">
            <div class="content">
                <div><i class="fas fa-quote-left"></i></div>
                <div class="text">I can actually see progress in my mental health which is something I haven’t
                    been
                    able to say in 15 years and it’s thanks to her.</div>
                <div><i class="fas fa-quote-right"></i></div>
            </div>
            <div class="client">
                <div style="padding-right: 15px;">
                    <img src="/assets/client.jpg" alt="">
                </div>
                <div class="text">
                    <div style="padding-bottom: 3px;">mary simsons</div>
                    <div>Alt/Fest</div>
                </div>
            </div>

        </div>
        <div class="mySlides fade">
            <div class="content">
                <div><i class="fas fa-quote-left"></i></div>
                <div class="text">2I can actually see progress in my mental health which is something I haven’t
                    been
                    able to say in 15 years and it’s thanks to her.</div>
                <div><i class="fas fa-quote-right"></i></div>
            </div>
            <div class="client">
                <div style="padding-right: 15px;">
                    <img src="/assets/client.jpg" alt="">
                </div>
                <div class="text">
                    <div style="padding-bottom: 3px;">2mary simsons</div>
                    <div>Alt/Fest</div>
                </div>
            </div>

        </div>
        <div class="mySlides fade">
            <div class="content">
                <div><i class="fas fa-quote-left"></i></div>
                <div class="text">3I can actually see progress in my mental health which is something I haven’t
                    been
                    able to say in 15 years and it’s thanks to her.</div>
                <div><i class="fas fa-quote-right"></i></div>
            </div>
            <div class="client">
                <div style="padding-right: 15px;">
                    <img src="/assets/client.jpg" alt="">
                </div>
                <div class="text">
                    <div style="padding-bottom: 3px;">3mary simsons</div>
                    <div>Alt/Fest</div>
                </div>
            </div>

        </div>

        <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
        <a class="next" (click)="plusSlides(1)">&#10095;</a>
        <div style="text-align:center">
            <span class="dot" (click)="currentSlide(1)"></span>
            <span class="dot" (click)="currentSlide(2)"></span>
            <span class="dot" (click)="currentSlide(3)"></span>
        </div>
    </div>

</div>





    






<!-- <div class="section devices">
    <div class="container">
        <div fxLayout="column">
            <div fxFlex>
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="25px">
                    <div fxFlex="0 1 auto">
                        <mat-icon class="deviceSize">phone_iphone</mat-icon>
                    </div>
 
                    <div fxFlex="0 1 auto">
                        <mat-icon style="font-size: 45px;" class="deviceSize">desktop_mac</mat-icon>
                    </div>
                    <div class="divider" fxFlex="0 1 auto">
                    </div>
                    <div fxFlex="0 1 auto">
                        <mat-icon class="deviceSize">videocam</mat-icon>
                    </div>
                    <div fxFlex="0 1 auto">
                        <mat-icon class="deviceSize">mic</mat-icon>
                    </div>
                    <div fxFlex="0 1 auto">
                        <mat-icon class="deviceSize">chat</mat-icon>
                    </div>
                </div>

            </div>
            <div fxFlex>
                <div fxLayout="row">
                    <div class="deviceText" fxFlex.gt-sm="50%" fxFlex.lt-sm>
                        <div class="headerSection">Dilediğiniz yerden ulaşım</div>
                        <div >
                            <span class="lineSection"></span>
                        </div>
                        <div class="textSection">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam dicta voluptatem velit
                            perferendis amet dolor similique quisquam maiores, vitae optio ipsum autem voluptatum
                            assumenda quo dolore in dolorem! Voluptatem, distinctio.</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam dicta voluptatem velit
                                perferendis amet dolor similique quisquam maiores, vitae optio ipsum autem voluptatum
                                assumenda quo dolore in dolorem! Voluptatem, distinctio.</p>
                        </div>
                        
                    </div>
                    <div style="text-align: center;" fxHide.lt-md class="deviceText" fxFlex="50%">
                        <div style="height: 100%;" fxLayout="column" fxLayoutAlign="center center">
                            <div fxFlex="0 1 auto">
                                <img style="width: 100%;border-radius: 69px;" src="/assets/home/device.jpg" alt="">
                            </div>
                        </div>
                        
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<div id="about-us" class="section">
    <div class="container">
        <div fxLayout="column">
            <div fxFlex>
                <div class="topHeaderSection" fxLayout="row" fxLayoutGap="20px">
                    <div fxFlex="0 1 auto">
                        Lisanslı
                    </div>
                    <div fxFlex="0 1 auto">
                        Deneyimli
                    </div>
                    <div fxFlex="0 1 auto">
                        Uzman
                    </div>
                </div>
            </div>
            <div style="padding-top:10px;" fxFlex fxHide.gt-xs>
                <img style="width: 100%;" src="/assets/home/aboutus.png" alt="">
            </div>
            <div fxFlex>
                <div fxLayout="row">
                    <div fxHide.lt-md fxFlex="50%" style="padding-top: 20px;
                    padding-right: 20px;">
                         <div style="height: 100%;" fxLayout="column" fxLayoutAlign="center center">
                            <div fxFlex="0 1 auto">
                                <img style="width: 100%;border-radius: 69px;" src="/assets/home/aboutus.png" alt="">
                            </div>
                        </div>
                       
                    </div>

                    <div fxFlex.gt-sm="50%" style="padding-top: 20px;
                    padding-left: 10px;padding-right: 10px;" fxFlex.lt-sm>
                        <div fxLayout="column">
                            <div class="headerSection" fxFlex>
                                Biz Kimiz? 
                            </div>
                            <div fxFlex>
                                <span class="lineSection"></span>
                            </div>
                            <div fxFlex class="textSection">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum dolorum repellat
                                    fugiat totam dolor architecto, ducimus similique ab, maiores voluptates rerum ipsam
                                    minima sed nam? Modi qui reprehenderit et odit.</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, ipsa sapiente dicta
                                    fugiat animi pariatur nemo placeat doloribus odit voluptatum aliquid saepe, alias
                                    atque officia vel. Commodi omnis nostrum fugiat.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->