<ng-container *ngIf="chat$ | async as seans">
  <div class="container">
    <div fxLayout="column" class="card">
      <div fxFlex>
        <div fxLayout=row fxLayout.lt-sm="column">
          <div fxFlex class="videoRes" name="video">
            <app-video-audio [seansId]="seansId"></app-video-audio>
          </div>
          <div fxFlex name=chat>
            <div fxLayout="column">
              <div fxFlex="1 0 auto" class="header">
                <div *ngIf="headerUser$ | async as headerUser">
                  <div fxLayout="row">
                    <div fxFlex="0 1 auto">
                      <img class="imgHeader" [src]="headerUser?.photoURL" alt="">
                    </div>
                    <div style="padding-left: 5px;" fxFlex="0 1 auto" fxFlexAlign="center">
                      <span>{{headerUser?.displayName?headerUser?.displayName:headerUser?.email}}</span>
                      <span *ngIf="userId===roomInfo?.therapist?.uidtherapist"><span class="countDown"
                          *ngIf="newUserofTherapist===true">
                          Yeni Danışan. İlk Seansınız!!
                        </span></span>

                    </div>
                    <div fxFlex fxLayoutAlign="end center" style="padding-right: 20px;">
                      <div class="countDown"><span>Kalan Süre:</span>{{countDownText}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="content" fxFlex class="content">
                <div fxLayout="column">
                  <div fxFlex style="margin-bottom: 10px;" *ngFor="let msg of seans.messages; trackBy: trackByCreated">
                    <div class="chatMessageMain" [ngClass]="{'chatMessageMainEnd':msg?.uid===userId}">
                      <div class="chatMessage">
                        <span>{{msg?.content}}<span class="msgDate">&nbsp;{{msg?.createdAt | date:'H:mm'}}</span></span>
                        <img class="imgChat" [src]="msg.user?.photoURL" alt="">
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div fxFlex="1 0 auto" class="sendMessage">
                <div fxLayout="row">
                  <mat-form-field fxFlex="50%" class="messageInput">
                    <input matInput placeholder="mesajınız..." [(ngModel)]="newMsg" (keydown.enter)="submit(seans.id)">
                    <button mat-icon-button matSuffix>
                      <mat-icon (click)="submit(seans.id)" style="color: #05284B;padding: 0;margin: 0px;">send
                      </mat-icon>
                    </button>
                  </mat-form-field>

                </div>


              </div>
            </div>
          </div>
        </div>
      </div>

 

    </div>

    <mat-card *ngIf="userId===roomInfo?.therapist?.uidtherapist" style="margin-top: 5px;"><!--Danışan bilgi-seans Note-->
      <mat-card-header>
        <mat-card-subtitle>Bu kısmı sadece seans therapisti görebilmektedir!</mat-card-subtitle>
      </mat-card-header>
      <mat-tab-group>
        <mat-tab label="Seans Bilgi">
          <div fxLayout="column" class="tabPanelTherapist">
            <div fxFlex>
              <div fxLayout=row>
                <div fxFlex>
                  <!-- danışan bilgisi-->
                  <mat-list dense>
                    <h3 mat-subheader>Danışan Bilgileri:</h3>
                    <mat-list-item *ngIf="newUserofTherapist===true" role="listitem">
                      Danışanın sizinle ilk seansıdır.
                    </mat-list-item>
                    <mat-list-item *ngIf="otherUser?.email" role="listitem">
                      <span>email: {{otherUser?.email}}</span>
                    </mat-list-item>
                    <mat-list-item *ngIf="otherUser?.displayName" role="listitem">
                      <span>İsim: {{otherUser?.displayName}}</span>
                    </mat-list-item>
                    <mat-list-item *ngIf="otherUser?.gender" role="listitem">
                      <span>Cinsiyet: {{otherUser?.gender}}</span>
                    </mat-list-item>
                    <mat-list-item *ngIf="otherUser?.type" role="listitem">
                      <span>Kullanıcı Türü: {{otherUser?.type}}</span>
                    </mat-list-item>

                  </mat-list>
                </div>
                <div fxFlex>
                  <!-- Seans bilgisi-->
                  <mat-list dense>
                    <h3 mat-subheader>Seans Bilgileri:</h3>
                    <mat-list-item role="listitem">
                      <span>Ön Bilgi: {{seansInfo?.bilgi?seansInfo?.bilgi:'Her hangibir bilgi girilmemiştir.'}}</span>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                      <span>Başlama tarihi: {{seansInfo?.createdAt | date:'d/M/yyyy H:mm'}}</span>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                      <span>Durum: {{seansInfo?.state}}</span>
                    </mat-list-item>
                    <mat-list-item role="listitem">
                      <span>Seans Türü: {{seansInfo?.type}}</span>
                    </mat-list-item>
                  </mat-list>
                </div>
              </div>
            </div>
            <div fxFlex>
              <mat-list dense *ngIf="roomInfo?.roomNote">
                <h3 mat-subheader>Therapist Genel Notu;</h3>
                <div class="roomNote"   role="listitem">
                  {{roomInfo?.roomNote}}
                </div>
              </mat-list>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Not Ekle">
          <div fxLayout=column class="tabPanelTherapist">
            <div fxFlex>
              <p>Şuan ki seans ile ilglig notlarınızı buradan ekleyebilirsiniz:</p>

              <p id="seansMessage" style="color:#49a010"></p>
            </div>
            <div fxFlex>
              <div fxLayout="row">
                <mat-form-field fxFlex.gt-xs="80%" fxFlex.lt-sm="90%" appearance="fill">
                  <mat-label>Seans Notu</mat-label>
                  <textarea matInput [(ngModel)]="seansNote" placeholder="Seans Notu">

                  </textarea>
                </mat-form-field>
              </div>
              <button (click)="addSeansNote()" mat-stroked-button>Seans Notu Ekle</button>
            </div>
            <div style="margin-top:3px;" fxFLex>
              <div fxLayout="row">
                <mat-divider fxFlexOffset="10%" fxFlex="80%"></mat-divider>
              </div>
            </div>
            <div fxFlex>
              <p>Danışan hakkında genel notu bu bölümden ekleyebilirsiniz:</p>
              <p id="roomMessage" style="color:#49a010"></p>
            </div>
            <div fxFlex>
              <div fxLayout="row">
                <mat-form-field fxFlex.gt-xs="80%" fxFlex.lt-sm="90%" appearance="fill">
                  <mat-label>Genel Not</mat-label>
                  <textarea matInput [(ngModel)]="roomNote" placeholder="Genel Not"></textarea>
                </mat-form-field>
              </div>
              <button (click)="addRoomNote()" mat-stroked-button>Genel Not Ekle</button>
            </div>

          </div>
        </mat-tab>
      </mat-tab-group>

    </mat-card>

  </div>

</ng-container>